@font-face {
    font-family: "CrustAce"; 
    src: url("CrustAce.otf");

    font-family: "GordQuick"; 
    src: url("gordqucikblack-p7erv.otf") ; 

    font-family: "Acid"; 
    src: url("acid-tm.otf");
    
    font-family: 'Noteable';
    src: local("Noteable")
         url('Noteable - Personal Use.ttf');
    
    font-family: "CrustAce";
    src: local("FT CrustAce - FREE"), 
         local("CRUSTACE"), 
         url("CrustAce.otf") format("otf");
}

body {
    position: relative;
    margin: 0;
}

.page-1{
    height: 90vh ; 
    padding: 0 5% 0 5%;
    background-color: #BBD7DC;}

.name-1{
    margin: 5vh 0 0 0;
    width: 100vw;
    position: relative;
    }
.name-1 p{
    color: #951111;
    font-family: 'CrustAce';
    font-size: 9em;
    margin: 0;
}
.slogan-1{
    display:inline;
    margin: 1vh 0 0 0;
    
}

.slogan-1 p{
    color: #2D0000;
    font-family: 'Noteable';
    font-size: 5em;
    margin: 0;
    width: 25vw;
}

.description-1{
    margin: 0;
    font-family: 'Noteable';
    font-size: 2.5em;
    width: 25vw;
}

.description-1 p{
    margin: 1vh 0 ;
}

.comp-table-1{
    width: 15vw;
    border-collapse: collapse;
    margin: 5vh 0 ;
    border: 3px solid #000;
    font-family: 'Noteable';
    font-size: 2em;
}

.comp-table-1 tr{
    height: 3vh;
    border: 3px solid #000;
}


.comp-table-1 p{
    font-weight: normal;
    margin: 0;
}

.comp-num{
    align-items: center;
    border-left: 3px solid #000;
    width: 12%;
}

.comp-segm{
    width: 38%;
}

.cost-1{
    display: flex;
    font-family: 'Noteable';
    
}

.price{
    font-size: 4em;
}

.add-to-cart{
    
}


.slider-container-1 {
    position: relative;
    width: 10%;
    height: 2%;
    margin: 0 auto;
    overflow: hidden;
}
  
.slider-1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.slider-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
}
  
.prev-button {
    left: -10%;
}
  
.next-button {
    right: -10%;
}
