@import url("C:/more/landing/CrustAce.otf");
@import url("C:/more/landing/acid-tm.otf");
@font-face {
    font-family: 'CrustAce'; 
    src: url(C:/more/landing/example/CrustAce.otf); 
    font-family: "GordQuick"; 
    src: url(C:\more\landing\gordqucikblack-p7erv.otf) ; 
    font-family: "Acid"; 
    src: url("acid-tm.otf");
}
@font-face {
	font-family: 'CrustAce'; 
	src: local('FTCrustAce-FREE'),
		url('example/CrustAce.otf'); 
}

body {
    position: relative;
    margin: 0;
    font-family: 'CrustAce';
    background-color: #BBD7DC;
}

/* .navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
} */

/* .section{
    

} */

.navbar{
    background: #fff;
    border-bottom: 4px solid black;
    font-family: "Acid";
    height: 50pt;
    position: static;
    top: 0;
    color: #000;
    letter-spacing: 1px;
    width: 100%;
    z-index: 999;
}

.navbar a{
    margin: 3px 15px ;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.navbar-container{
    align-items: center;
    display: flex;
    flex: space-between;
    justify-content: space-between;
    height: 100%;
    margin: 0pt 5% 0pt 3%;
    max-width: 100%;
}

.menu-items{
    width: 23%;
    display: flex;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
    display: flex;

}

.menu-items li:hover{
    background-color: #BBD7DC; 
    /*нужно чтобы цвет выделения совпадал с цветом фона*/
    color: #000;
}

.nav-button{
    background-color: #fff;
    color: black;
    padding: 3px 15px; 
    border: 3px solid black;
    border-radius: 45px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logo{
    height: 90%;
}

.logo img{
    height: 100%;
}

.cart-button{
    background-color: rgb(19, 167, 0);
    color: black;
    padding: 6px 30px; 
    border: 3px solid black;
    border-radius: 45px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cart-button:hover{
    background-color: rgb(0, 0, 0);
    color: #fff
}


.maininfo{
    display: flex;
}

.name{
    margin: 0;
    height: 15vh;
    width: 100vw;
    position: relative;
    font-family: 'CrustAce';
}

.name p{
    font-family: 'CrustAce';
    font-size: 12em;
    margin: 0;
}



/* .info{
    
} */

.slogan{
    font-size: 7em;
    margin: 0;
    width: 100vw;
}

.slogan p{
    width: 100vw;
    font-size: .7em;
    margin: 2vh 0 0 0;
}

.page-title {
    text-align: center;
  }
  
  .slider-container {
    position: relative;
    width: 10%;
    height: 2%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
  }
  
  .prev-button {
    left: -10%;
  }
  
  .next-button {
    right: -10%;
  }