*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "CrustAce"; 
    src: url("CrustAce.otf"); 
    font-family: "GordQuick"; 
    src: url("gordqucikblack-p7erv.otf") ; 
    font-family: "Acid"; 
    src: url("acid-tm.otf");
}

@font-face {
    font-family: "CrustAce"; 
    src: url("CrustAce.otf");

    font-family: "GordQuick"; 
    src: url("gordqucikblack-p7erv.otf") ; 

    font-family: "Acid"; 
    src: url("acid-tm.otf");
    
    font-family: 'Noteable';
    src: local("Noteable")
         url('Noteable - Personal Use.ttf');
    
    font-family: "CrustAce";
    src: local("FT CrustAce - FREE"), 
         local("CRUSTACE"), 
         url("CrustAce.otf") format("otf");
}

body {
    width: 100vw;
    position: relative;
    margin: 0;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}


.navbar{
    background: #fff;
    border-bottom: 4px solid black;
    font-family: "Acid";
    height: 55px;
    position: absolute;
    top: 0;
    color: #000;
    letter-spacing: 1px;
    width: 100%;
    z-index: 999;
}

.navbar a{
    /* margin: 3px 15px 3px 15px; */
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 100%;
    margin-bottom: 0;
}

.navbar-container{
    align-items: center;
    display: flex;
    flex: space-between;
    justify-content: space-between;
    height: 100%;
    margin: 0pt 2% 0pt 2%;
    max-width: 100%;
}

.menu-items{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.menu-items {
    list-style: none;
    display: flex;
}

.nav-button{
    background-color: #fff;
    color: black;
    padding: 3px 15px; 
    border: 3px solid black;
    border-radius: 45px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover{
    background-color: #fbff00; 
}

.cart-button{
    background-color: rgb(19, 167, 0);
    color: black;
    padding: 3px 20px; 
    border: 3px solid black;
    border-radius: 45px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cart-button:hover{
    background-color: rgb(0, 0, 0);
    color: #fff
}

.cart-button a:hover{
    color: #fff;
}

.logo{
    height: 90%;
}

.logo img{
    height: 100%;
}

.navbar-item-icon{
    padding-left: 1vw ;
}

.navbar-item-icon img {
    width: 30px;
    filter: brightness(0%);
    transition: all 0.3s ease-in-out;
  }
  
.navbar-item-icon img:hover {
    filter: brightness(100%);;
    transform: scale(1.3);
  }

/*_____________________________________*/

.screen1{
    height: 100vh;
    width: 100vw;
}
.main {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
}

.background{
    width: 100%;
    height: 100%;
}

.background img{
    width: 100vw;
    height: 100vh;
}

.maincans {
    position: absolute;
    background-size: cover;
    background-position: center;
}

.star {
    align-content: center;
    height: 70vh;
    width: 50vw;
    left: 25vw;
    top:15vh ;
    background-image: url('star.png'); 
    z-index: 1;
}

.star img{
    height: 100%;
    width: 100%;
}

.maincan {
    height: 65vh;
    width: 15vw;
    top: 22vh;
    left: 42vw;
    background-image: url('Stickers.png'); 
    z-index: 10;
}

.can2 {
    height: 45vh;
    width: 20vh;
    top: 33vh;
    left: 27vw;
    background-image: url('cowboy.png'); 
    transform: rotate(-27deg);
    z-index: 9;
}

.can3 {
    height: 50vh;
    width: 20vh;
    top:  33vh;
    right: 27vw;
    background-image: url('ornament.png'); 
    transform: rotate(32deg);
    z-index: 8;
}

.can4 { 
    height: 20vh;
    width: 10vh;
    top: 31vh;
    right: 36vw;
    background-image: url('grapefruit.png'); 
    transform: rotate(-35deg);
    z-index: 7;
}

.can5 {
    height: 20vh;
    width: 10vh;
    top: 30vh;
    left: 36vw;
    background-image: url('whale.png'); 
    transform: rotate(20deg);
    z-index: 6;
}

.buy{
    border: 6px solid #000;
    border-radius: 5vw;
    background-color: red;
    position: absolute;
    top: 70vh;
    right: 3vw;    
    text-decoration: none;
    /* padding: 2vh 5vw 2vh 5vw; */
}

.buy a{

    text-decoration: none;
}

.buy p{
    font-family: 'Acid';
    font-size: 500%;
    color: #000;
    margin-top: 3vh;    
    padding: 2vh 5vw 2vh 5vw;
}
.buttonbuy{
    background: transparent;
    border: none;

}

/* Секции (экраны) */

.screen2{
    height: 100vh;
}

@mixin aspect-ratio($width, $height) {
    position: relative;
      
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }
      
    > img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
    }
  }
  
  section {
      background: #F4F4F4;
      height: 100%;
  }
  
  .container {
      max-width: 100vw;
      max-height: 100vh;
      margin: 0 auto;
  }
  
  .carousel {
      display: block;
      position: relative;
      
      > input {
          clip: rect(1px, 1px, 1px, 1px);
          clip-path: inset(50%);
          height: 1px;
          width: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          
          &:nth-of-type(8):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -700%; }
          &:nth-of-type(7):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -600%; }
          &:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -500%; }
          &:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -400%; }
          &:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -300%; }
          &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -200%; }
          &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -100%; }
          &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 0%; }
          
          &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px #BBD7DC; }
          &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px #DABA86; }
          &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px #E08D6F; }
          &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px #51E97E; }
          &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) { box-shadow: 0px 0px 0px 5px #EF233C; }
          &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) { box-shadow: 0px 0px 0px 5px #00532F; }
          &:nth-of-type(7):checked ~ .carousel__thumbnails li:nth-of-type(7) { box-shadow: 0px 0px 0px 5px #033DD0; }
          &:nth-of-type(8):checked ~ .carousel__thumbnails li:nth-of-type(8) { box-shadow: 0px 0px 0px 5px #3B323B; }
      }
  }
    .carousel__thumbnails {
      list-style: none;
      margin: 0 ;
      
      display: flex;
      height: 10vh;
      width: 100vw;

      li {  
          margin: 5px;      
          flex: 1 1 auto;
          max-width: calc(100vw / 8);  
          transition: all 100ms ease-in-out;
          box-shadow: 0px 0px 0px 5px rgba(0,0,0,1);
      }
      
      label {
          @include aspect-ratio(1,1);
                    
          &:hover,
          &:focus {
              cursor: pointer;
              
              img {
                  transition: all 100ms ease-in-out;
              }
          }
      }
      
      img {

          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }

  .carousel__slides {
      position: relative;
      z-index: 1;
      padding: 0;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      display: flex;
  }
  
  .carousel__slide {
      position: relative;
      display: block;
      flex: 1 0 100%;
      width: 100%;
      height: 90vh;
      overflow: hidden;
      transition: all 300ms ease-out;
      vertical-align: top;
      box-sizing: border-box;
      white-space: normal;
      
      figure {
          display: flex;
          margin: 0;
      }
      
      div {
          @include aspect-ratio(3, 2);
          width: 100%;
      }
      
      
      figcaption {
          align-self: flex-end;
          padding: 20px 20px 0 20px;
          flex: 0 0 auto;
          width: 25%;
          min-width: 150px;
      }
      
      .credit {
          margin-top: 1rem;
          color: rgba(0, 0, 0, 0.5);
          display: block;        
      }
      
      /* &.scrollable {
          overflow-y: scroll;
      } */
  }
  
.info-{
    display: flex;
}

.page-1{
    padding: 0 5%;
    background-color: #BBD7DC;
    height: 90vh;
}

.name-1{
    width: 100vw;
    position: relative;
    }
.name-1 p{
    color: #951111;
    font-family: 'CrustAce';
    font-size: 7em;
    margin: 0;
}
.slogan-1{
    display:inline;
    margin: 1vh 0 0 0;
    
}

.slogan-1 p{
    color: #2D0000;
    font-family: 'Noteable';
    font-size: 3em;
    margin: 0;
    width: 25vw;
}

.specification-1{
    width: 25%;
}


.description-1{
    margin: 0;
    font-family: 'Noteable';
    font-size: 1.5em;
}

.description-1 p{
    margin: 1vh 0 ;
}

.comp-table-1{
    width: 15vw;
    border-collapse: collapse;
    margin: 5vh 0 ;
    border: 3px solid #000;
    font-family: 'Noteable';
    font-size: 2em;
}

.comp-table-1 tr{
    height: 3vh;
    border: 3px solid #000;
}


.comp-table-1 p{
    font-weight: normal;
    margin: 0;
}

.comp-num{
    align-items: center;
    border-left: 3px solid #000;
    width: 12%;
}

.comp-segm{
    width: 38%;
}

.cost-1{
    display: flex;
    font-family: 'Noteable';
    /* width: 20vw; */
}

.price{
    width: 15vw;
    font-size: 4em;
} 

.add-to-cart{
    width: 15vw;
}

.container-carusel {
  right: 5vw;
  width: 40vw;
  transform-style: flat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type=radio] {
  display: none;
}

.cards {
  position: relative;
  width: 50%;
  height: 50%;
}

.card {
  position: absolute;
  width: 30%;
  /* height: 100%; */
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.card img {
  width: 50%;
  height: 50%; 
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, 
#item-2:checked ~ .cards #song-1, 
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-100%) scale(.8);
  opacity: 1;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, 
#item-2:checked ~ .cards #song-3, 
#item-3:checked ~ .cards #song-1 {
  transform: translatex(100%) scale(.8);
  opacity: 1;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, 
#item-2:checked ~ .cards #song-2, 
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
}

/* .page-1{
    padding: 0 5%;
    background-color: #BBD7DC;
    height: 90vh;
}

.name-1{
    width: 100vw;
    position: relative;
    }
.name-1 p{
    color: #951111;
    font-family: 'CrustAce';
    font-size: 7em;
    margin: 0;
}
.slogan-2{
    display:inline;
    margin: 1vh 0 0 0;
    
}

.slogan-2 p{
    color: #2D0000;
    font-family: 'Noteable';
    font-size: 3em;
    margin: 0;
    width: 25vw;
}

.specification-2{
    width: 25%;
}


.description-2{
    margin: 0;
    font-family: 'Noteable';
    font-size: 1.5em;
}

.description-2 p{
    margin: 1vh 0 ;
}

.comp-table-2{
    width: 15vw;
    border-collapse: collapse;
    margin: 5vh 0 ;
    border: 3px solid #000;
    font-family: 'Noteable';
    font-size: 2em;
}

.comp-table-2 tr{
    height: 3vh;
    border: 3px solid #000;
}


.comp-table-2 p{
    font-weight: normal;
    margin: 0;
}

.cost-2{
    display: flex;
    font-family: 'Noteable';
    
} */